<% layout('layouts/boilerplate') -%>
<div class="container">
    <div class="row">
        <% for(meeting of meetings) {%>
            <div class="col-lg-3 card">

            </div>
        <% } %>
    </div>
</div>