<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm" align="center">
                    &copy; 2021 CramJam, Inc.
            </div>
            <div class="col-sm" align="center">
                <a href="/" class="footer-img-brighten  align-items-center link-dark text-decoration-none">
                    <img class= "footer-img-brighten" src="assets/logo2.svg" alt="" height="40">
                </a>
            </div>
            <div class="col-sm" align="center">
              All rights reserved
            </div>
          </div>
    </div>
</footer>