<div class="bg-modal">
	<div class="modal-contents">

		<div class="close">+</div>

            <h3>Are you sure?</h3>
            <hr>
            <% if(action == 'leave group'){ %>
                <p>Are you sure you want to leave <b><%= group.name %></b>?</p>
                <p>This action cannot be undone.</p>
                <div class='row justify-content-center'>
                <div class="col-lg-5 text-center"> 
                <form action="/groups/<%= group._id %>" method="GET">
                    <button class="theme-btn-light text-decoration-none">Nevermind</button>
                </form>
            </div>
            <div class="col-lg-5 text-center "> 
                <form action="/groups/<%= group._id %>/edit/<%= signedInUser._id %>?_method=delete" method="post">
                    <button class="theme-btn text-decoration-none">Leave</button>
                </form>
            </div>
            </div>
            <% } %>

	</div>
</div>