<header class="p-3 mb-3 border-bottom navbar-custom fixed-top">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start ">
      <a href="/" class="d-flex align-items-center col-lg-1 mb-2 mb-lg-0 link-dark text-decoration-none"> 
        <img src="assets/Icon.PNG" alt="" height="80">
      </a>

      <ul class="nav col-12 col-md-auto me-md-auto justify-content-center">
        <li><a href="/" class="nav-link px-2 navbar-text">Home</a></li>
        <li><a href="/groups" class="nav-link px-2 navbar-text">Groups</a></li>
        <li><a href="/meetings" class="nav-link px-2 navbar-text">Meetings</a></li>
      </ul>

      <%- include('../partials/profile') %>
    </div>
  </div>
</header>