<header class="p-3 mb-3 border-bottom navbar-area">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start ">
      <nav class="navbar navbar-expand-lg">
        <a href="/" class="navbar-brand d-flex align-items-center col-lg-1 mb-2 mb-lg-0 link-dark text-decoration-none">
          <img src="assets/Icon.PNG" alt="" height="80">
        </a>
        <ul id="nav" class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="text-decoration-none" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="text-decoration-none" href="/groups">Groups</a>
          </li>
          <li class="nav-item">
            <a class="text-decoration-none" href="/meetings">Meetings</a>
          </li>
          <li class="nav-item">
            <a class="text-decoration-none" href="/links">Links</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <% if(signedInUser) { %>

            <li class="nav-item">
              <div class="dropdown text-end  <% if(signedInUser.invites.length > 0) {%> profile <%} %>">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="/assets/default_pp.jpg" alt="mdo" width="50" height="50" class="rounded-circle">
                </a>

                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                  <li class="dropdown-item"><strong>Hi <%= signedInUser.username%>!</strong></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="/notifications">Notifications <% if(signedInUser.invites.length>
                        0) {%><span class="badge notification-link">
                          <%= signedInUser.invites.length %>
                        </span>
                        <%} %></a></li>
                  <li><a class="dropdown-item" href="/groups">Groups</a></li>
                  <li><a class="dropdown-item" href="/students">Profile</a></li>
                  <li><a class="dropdown-item" href="/survey">Covid Survey</a></li>
                  <li><a class="dropdown-item" href="https://www.logbox.co.za/#/">LogBox</a></li>
                  <li><a class="dropdown-item" href="/students/settings/<%=signedInUser._id%>">Settings</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="/students/logout">Sign out</a></li>
                </ul>
                <% if(signedInUser.invites.length> 0) {%>
                  <span class="badge notification">
                    <%= signedInUser.invites.length %>
                  </span>
                  <% } %>
              </div>
            </li>
            <% } else { %>
              <li class="nav-item"><a href="/students/login" class="nav-link navbar-text px-2">Login</a></li>
              <li class="nav-item"><a href="/students/register" class="nav-link navbar-text px-2">Sign up</a></li>
              <% } %>
        </ul>
    </div>
    </nav>
  </div>
  </div>
</header>