<% if(signedInUser) { %>
    <div class="text-end">
        <a href="/notifications" class="d-block link-dark text-decoration-none">
          <img src="/assets/bell.png" alt="mdo" width="20" height="25">
        </a>
    </div>
<% } %>