<%- include ('partials/header') %> 
<h1>Delete a Group</h1>

<form action="/groups" method="POST">
    <input type = "text" name="name" placeholder="Group Name">
    <button>Delete Group</button>
</form>
<%- include ('partials/footer') %> 