<%- include ('partials/header') %> 
<h1>Landing Page!</h1>

<p>Welcome to CramJam</p>
<div>
    <a class="btn btn-primary" href="/groups/new"> Create a Group </a>
    <a class="btn btn-primary" href="/groups"> View All Groups</a>
</div>
<%- include ('partials/header') %> 