<% layout('layouts/boilerplate') -%>
    
<!-- ========================= service-section start ========================= -->
<section id="services" class="service-section pt-130">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="service-box box-style box-style-full">
                    <div class="service-icon box-icon-style">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="box-content-style service-content">
                        <h4 class="header"> Profile</h4>
                        <p>Set up your profile make group work easy!</p>
                        <div class="header-btn">
                            <a href="/students/profile/<%=signedInUser._id%>" class="theme-btn text-decoration-none">Go to</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 ">
                <div class="box-style box-style-full">
                    <div class="box-icon-style align-items-center">
                        <i class="fas fa-user-friends"></i>
                    </div>
                    <div class="box-content-style service-content">
                        <h4>Groups</h4>
                        <p>Join up to 10 different study groups to get work done!</p>
                        <div class="header-btn">
                            <a href="\groups" class="theme-btn text-decoration-none">Go to</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-box box-style box-style-full">
                    <div class="service-icon box-icon-style">
                        <i class="fas fa-house-user"></i>
                    </div>
                    <div class="box-content-style service-content">
                        <h4>Meetings</h4>
                        <p>Organize meetings with your group easily.</p>
                        <div class="header-btn">
                            <a href="\meetings" class="theme-btn text-decoration-none">Go to</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="service-box box-style box-style-full">
                    <div class="service-icon box-icon-style">
                        <i class="fas fa-paperclip"></i>
                    </div>
                    <div class="box-content-style service-content">
                        <h4>Links</h4>
                        <p>Share and access content with our organized system.</p>
                        <div class="header-btn">
                            <a href="\links" class="theme-btn text-decoration-none">Go to</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= service-section end ========================= -->
