<% layout('layouts/boilerplate') -%>
    <div class="container">
        <div class="row">
            <h3>Notifications</h3>
            <hr>
            <div class="col-lg-6 col-sm-12">
                <% if (signedInUser.invites[0]===undefined){%>
                    <div class="card px-5 py-3 text-center">
                        <h5>No new invites</h5>
                    </div>
                <% } else {%>
                    <% for (let invite of groupInvites){%>
                        <%- include('partials/pollCard', {invite:invite}) %>  
                    <% }%>
                <% }%>
            </div>
            <div class="col-lg-6 col-sm-12">
                <% if (signedInUser.polls[0]===undefined){%>
                    <div class="card px-5 py-3 text-center">
                        <h5>No new polls</h5>
                    </div>
                <% } else {%>
                    <% for (let poll of userPolls){%>
                        <%- include('partials/pollCard', {poll:poll}) %>  
                    <% }%>
                <% }%>
            </div>
        </div>
    </div>