body {
    padding-top: 120px;
}

html,
body {
    height: 100%;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 100px;
    /* this needs to be bigger than footer height*/
}

footer {
    background-color: rgb(235, 235, 235);
}

/* Modify the background color */
.navbar-custom {
    background-color: rgb(236, 128, 95);
}

/* Modify brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgb(248, 248, 248);
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    margin-top: -60px;
    /* Set the fixed height of the footer here */
    line-height: 60px;
    /* Vertically center the text there */
    background-color: #f5f5f5;
    clear:both;
}