
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");

html {
  scroll-behavior: smooth; }

body {
  background-color: #f6f8faff;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #6A7C92;
  overflow-x: hidden;
 }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

h1{
    padding-bottom: 10px; 
}
h3{
   padding-bottom: 5px; 
}

  

.page{
    padding-bottom: 60px;
}
.brighten img {
    opacity: 1;
}

.brighten img:hover {
    opacity: 0.5;
    -webkit-transition: all 0.1s ease-out 0s;
    -moz-transition: all 0.1s ease-out 0s;
    -ms-transition: all 0.1s ease-out 0s;
    -o-transition: all 0.1s ease-out 0s;
    transition: all 0.1s ease-out 0s;
}

.navbar-area {
    width: 100%;
    z-index: 10;
    background-color: #182224ff;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    padding: 0; }

.theme-btn-light {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 16px 48px;
    font-size: 18px;
    border-radius: 50px;
    color: #71869aff;
    cursor: pointer;
    z-index: 5;
    transition: all .1s ease-in-out;
    border: none;
    background: #e4eaeeff;
    background-size: 200% auto;
    overflow: hidden; }
    .theme-btn-light:hover, .theme-btn-light:focus {
        background-position: right center;
        color: #fff;
 }
    .theme-btn-light.border-btn-light {
        padding: 14px 40px;
        background: #fff;
        border: 1.5px solid #e4eaeeff;
        color: #fff;
        font-size: 18px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none; }
  
.header-btn .theme-btn {
    padding: 10px 30px; }

    .theme-btn {
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        padding: 16px 48px;
        font-size: 18px;
        border-radius: 50px;
        color: #fff;
        cursor: pointer;
        z-index: 5;
        transition: all .1s ease-in-out;
        border: none;
        background: linear-gradient(to left, rgb(236, 128, 95) 0%, rgb(236, 118, 82) 100%);
        background-size: 200% auto;
        overflow: hidden; }
        .theme-btn:hover, .theme-btn:focus {
            background-position: right center;
            color: #fff;
            -webkit-box-shadow: 0px 0px 30px rgba(236, 128, 95, 0.45);
            -moz-box-shadow: 0px 0px 30px rgba(236, 128, 95, 0.45);
            box-shadow: 0px 0px 30px rgba(236, 128, 95, 0.45); }
        .theme-btn.border-btn {
            padding: 14px 40px;
            background: #fff;
            border: 1.5px solid rgb(236, 128, 95);
            color: #fff;
            font-size: 18px;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none; }


.dropdown-triangle{
    color: #fff
}
.navbar {
    width: 100%;
    padding: 0px 0;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }

.navbar-brand {
    padding: 0; }
.navbar-brand img {
    max-width: 300px; }
  
.navbar-nav .nav-item {
    position: relative;
    z-index: 1; }
.navbar-nav > .nav-item > a:hover {
    color: rgb(236, 128, 95); }
.navbar-nav > .nav-item > a {
    font-size: 16px;
    color: #ffffff;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    position: relative;
    padding: 20px;
    display: inline-flex;
    align-items: center; }


.sticky {
    position: fixed;
    background: rgb(236, 128, 95);
    -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    background: #182224ff;
    padding: 0px 0; }
    
.sticky .navbar {
    padding: 0px 0;
}


.box-style {
    padding: 40px 30px;
    border: 1px solid#E8E8E8;
    border-radius: 10px;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
.box-style-full{
    background-color: #fff;
}
.box-style-empty{
    background-color: transparent;
}
.box-style:hover {
    -webkit-box-shadow: 0px 0px 30px rgba(215, 224, 252, 0.45);
    -moz-box-shadow: 0px 0px 30px rgba(215, 224, 252, 0.45);
    box-shadow: 0px 0px 30px rgba(215, 224, 252, 0.45); }
.box-style-empty:hover {
    -webkit-box-shadow: 0px 0px 30px rgba(215, 224, 252, 0.45);
    -moz-box-shadow: 0px 0px 30px rgba(215, 224, 252, 0.45);
    box-shadow: 0px 0px 30px rgba(215, 224, 252, 0.45); }
.box-style:hover .box-icon-style {
    color: #fff;
    border-color: transparent;
    background: linear-gradient(rgb(236, 128, 95) 0%, rgb(236, 118, 82) 100%) }
.box-style:hover .box-icon-style::after {
opacity: 1;
visibility: visible; }
    
.box-style:hover .box-icon-style {
color: #fff;
border-color: transparent;
background: linear-gradient(rgb(236, 128, 95) 0%, rgb(236, 118, 82) 100%) }
.box-style:hover .box-icon-style::after {
    opacity: 1;
    visibility: visible; }
.box-style .box-icon-style {
    width: 78px;
    height: 78px;
    border-radius: 50%;
    margin-bottom: 25px;
    background: transparent;
    border: 2px solid rgb(236, 128, 95);
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(236, 128, 95);
    font-size: 40px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    position: relative; }
.box-style .box-icon-style::after {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    background: linear-gradient(rgb(236, 128, 95) 0%, rgb(236, 118, 82) 100%);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    z-index: -1;
    border-radius: 50%;
    border: 1px solid transparent; }
.box-style .box-content-style h4 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px; }

.box-icon-style-empty {
    width: 78px;
    height: 78px;
    border-radius: 50%;
    margin-bottom: 25px;
    background: transparent;
    border: 2px solid#E8E8E8;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#E8E8E8;
    font-size: 40px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    position: relative; }
.box-style-empty:hover {
    -webkit-box-shadow: 0px 0px 30px rgba(215, 224, 252, 0.45);
    -moz-box-shadow: 0px 0px 30px rgba(215, 224, 252, 0.45);
    box-shadow: 0px 0px 30px rgba(215, 224, 252, 0.45); }
.box-style-empty:hover .box-icon-style-empty {
    color: #fff;
    border-color: transparent;
    background: linear-gradient(rgba(232,232,231, 1) 0%, rgba(232,232,231, 1) 100%) }
.box-icon-style-empty::after {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    background: linear-gradient(rgb(236, 128, 95) 0%, rgb(236, 118, 82) 100%);
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    z-index: -1;
    border-radius: 50%;
    border: 1px solid transparent; }   
.box-style-empty .box-content-style-empty h4 {
color: #E8E8E8;
font-size: 20px;
font-weight: 600;
margin-bottom: 10px; }

.box-empty-style{
    background-color: black;
    padding: 40px 30px;
    border: 1px solid#E8E8E8;
    border-radius: 10px;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; 
}

/*===========================
    05. Service CSS 
===========================*/
.service-section .service-box-style-2 {
    padding: 0;
    text-align: center; }
.service-section .service-box-style-2 .service-thumbnail img {
    width: 100%;
    border-radius: 10px 10px 0 0; }
.service-section .service-box-style-2 .box-icon-style {
    margin-left: auto;
    margin-right: auto;
    width: 54px;
    height: 54px;
    border: 2px solid #fff;
    font-size: 25px;
    margin-top: -27px;
    background: #fff;
    position: relative;
    z-index: 9; }
.service-section .service-box-style-2 .box-icon-style i {
    color: #fff;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(rgb(236, 128, 95) 0%, rgb(236, 118, 82) 100%);;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s; }
.service-section .service-box-style-2:hover .box-icon-style {
    background: linear-gradient(rgb(236, 128, 95) 0%, rgb(236, 118, 82) 100%); }
    .service-section .service-box-style-2:hover .box-icon-style i {
    color: #fff; }
.service-section .service-box-style-2 .box-content-style {
    padding: 0 30px 35px; }


.group-card .clip-bg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(to right, rgba(111, 88, 232, 0.6) 0%, #3763eb 100%); }

#wrap {
    min-height: 100%;
} 

.mask{
    object-fit: cover;
    clip-path: circle(200px at center);
}

.group-mask{
    object-fit: cover;
    clip-path: circle(250px at center);
}

/* Folded corner */

.ss-style-foldedcorner::before,
.ss-style-foldedcorner::after {
  bottom: 0;
  width: 100px;
  height: 100px;
}

.ss-style-foldedcorner::before {
  right: 0;
  background-image: -webkit-linear-gradient(top left, #37a2ea 50%, #3498db 50%);
  background-image: linear-gradient(315deg, #3498db 50%, #37a2ea 50%);
}

.ss-style-foldedcorner::after {
  right: 100px;
  background-image: -webkit-linear-gradient(top left, transparent 50%, #236fa1 50%);
  background-image: linear-gradient(315deg, #236fa1 50%, transparent 50%);
}

#main {
    overflow: auto;
    padding-bottom: 200px;
    /* this needs to be bigger than footer height*/
}

/*Notifications*/
.footer {
    margin-top: auto; 
    align-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    align-content: center;
}

.footer-text{
    align-self: center;
}

.footer-img-brighten {
    opacity: 0.4;
}

.footer-img-brighten:hover {
    opacity: 0.8;
    -webkit-transition: all 0.1s ease-out 0s;
    -moz-transition: all 0.1s ease-out 0s;
    -ms-transition: all 0.1s ease-out 0s;
    -o-transition: all 0.1s ease-out 0s;
    transition: all 0.1s ease-out 0s;
}

/*Notifications*/
.notification {
    position: relative;
    bottom: 60px;
    right: 10%;
}

.notification-link, .notification{
    background-color: rgb(23, 0, 226);
}

.profile {
    top: 10px;
}

#toast-container {
    z-index: 9999999;
}

.rate {
    float: left;
    height: 46px;
    padding-left: 45px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.remove-btn{
    background-color: white;
    color: red;
    width:35px;
    height: 35px;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}


.rate-btn{
    margin-top: 5px;
    background-color: white;
    color: green;
    width:35px;
    height: 35px;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.rate-btn > i{
    position: relative;
    right:2px;
}

.rate-btn:hover, .poll-yes:hover, .poll-no:hover, .remove-btn:hover, .meeting-view-btn:hover{
    background-color: rgb(236, 128, 95);
    color: white;
}

.poll-yes, .poll-no, .meeting-view-btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}



.poll-yes{
    color: green;
}

.poll-no{
    color: red;
}

.explore-btn{
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    color: rgb(236, 128, 95);
    background-color: white;
    border: 2px solid;
    border-radius: 10px;
}

.explore-btn:hover{
    color: white;
    background-color: rgb(236, 128, 95);
    border: 2px solid;
    border-radius: 10px;
}

.link_img{
    width:100%;
}

.link-title{
    color:#6A7C92;
}

.link-card:hover{
    -webkit-box-shadow: 0px 0px 30px rgba(236, 128, 95, 0.45);
    -moz-box-shadow: 0px 0px 30px rgba(236, 128, 95, 0.45);
    box-shadow: 0px 0px 30px rgba(236, 128, 95, 0.45); 
}

/* Progress bar */
.progress {
    padding-top: 2vh;
    padding-bottom: 4vh;
    background-color: transparent;
    align-self: center;
}
#progress-bar {
    --scrollAmount: 0%;
    
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    width: var(--scrollAmount);
  
    /*  background: linear-gradient(to right, #F24E1E var(--scrollAmount), transparent 0);
    width: 100%; */

    height: 25px;
    align-tracks: center;
    border-radius: 25px;
  }

  /*===========================
    MODAL POPUP
===========================*/
.bg-modal {
    z-index: 999999999;
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

.modal-contents {

	width: 500px;
	background-color: white;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
}


.modal-contents .close {
    content: "\2715";
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;

}
.modal-contents .close:hover {
    color: #666;
}
.test{
    background-color: pink;
}

.pad-top-10{
    padding-top: 10px;
}
.pad-top-5{
    padding-top: 5px;
}

.pad-left-5{
    padding-left: 60px;
}


#map {  
    top: 0; 
    bottom: 0; 
    height: 350px;
    margin-bottom: 25px;
}

.mapboxgl-canvas-container {

    height: 100vh;
}
/*TAGS*/

:root {
    font-family: Arial, Helvetica, sans-serif;
}

.tags-input {
    border: 1px solid #f6f8faff;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
}

.tags-input .tag {
    font-size: 85%;
    padding: 0.5em 0.75em;
    margin: 0.25em 0.1em;
    display: inline-block;
    background-color: #2d3e4eff;
    transition: all 0.1s linear;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    
}

.tags-input .tag:hover {
    background-color: rgb(236, 128, 95);
    color: white;
}

.tags-input .tag .delete::after {
    content: "\2715";
    font-weight: bold;
    display: inline-block;
    /*transform: scale(1.4);*/
    margin-left: 0.35em;
    margin-right: 0.35em;
}

.tags-input .tag .delete:hover::after {
    color: black;
}

.tags-input .main-input {
    border: 0;
    outline: 0;
    padding: 0.5em 0.1em;
}

/* autocomplete */

.suggestions {
    position: absolute;
    top: 60px;
}

.suggestions ul {
display: none;
list-style-type: none;
padding: 0;
margin: 0;
box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
max-height: 200px;
overflow-y: auto;
}

.suggestions ul .has-suggestions {
    list-style-type: none;
    display: block;

}

.tags-input li {
    list-style-type: none;
    padding: 10px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
}


.skip {
	position: absolute;
	top: 10px;
	right: 20px;
	cursor: pointer;
    color: #666;
}
.skip:hover {

    color: #777;
}

.show-tag {
    font-size: 85%;
    padding: 0.25em 0.75em;
    margin: 0.1em 0.1em;
    display: inline-block;
    background-color: #2d3e4eff;
    transition: all 0.1s linear;
    border-radius: 5px;
    color: white;
    
}

.show-tag :hover{
    background-color: rgb(236, 128, 95);
    color: white;
}