<% layout('layouts/boilerplate') -%>
    <div class='container'>
        <header class='jumbotron'>
            <div class='container'>
                <h1>Links</h1>
                <p>View all links from groups you are a member of</p>
                <p>
                    <a class='btn btn-primary btn-large' href="links/new">Add New Link</a>
                </p>
            </div>
        </header>

        <div class='row text-center' style='display:flex; flex-wrap: wrap;'>
            <% links.forEach(function(link){ %>
                <div class="col-md-12 col-sm-12">
                    <div class='img-thumbnail'>
                        <div class="caption">
                            <h4>
                                <!-- In <#%= link.group%> - -->
                                <%= link.name %>
                                    <!-- was posted by <#%= link.user %> -->
                            </h4>
                        </div>
                        <a href="<%= link.url %>" target="_blank">
                            <%= link.name %>
                        </a>
                    </div>
                </div>
                <p></p> <!-- for spacing, should come up with better solution -->
                <% }); %>
        </div>
    </div>