<%- include ('../partials/header') %> 
<h1>Edit</h1>

<form action="/groups/edit" method="POST">
    <input type = "text" name="groupName" placeholder="Group Name">
    <input type = "text" name="studentName" placeholder="Student Name">
    <button>Delete Student</button>
</form>
<%- include ('../partials/footer') %> 