<%- include ('../partials/header') %> 
<h1>Edit</h1>

<form action="/groups/edit" method="POST">
    <input type = "text" name="name" placeholder="Group Name">
    <button>Submit!</button>
</form>
<%- include ('../partials/footer') %> 