<%- include ('../partials/header') %> 
<h1>Create a New Group</h1>

<form action="/groups" method="POST">
    <input type = "text" name="name" placeholder="Group Name">
    <button>Submit!</button>
</form>
<%- include ('../partials/footer') %> 
