<% layout('layouts/boilerplate') -%>
<h1>Create a New Group</h1>

<form action="/groups/new" method="POST">
    <input type = "text" name="name" placeholder="Group Name">
    <button>Create Group!</button>
</form>

