<% layout('layouts/boilerplate') -%>
  <div class="container">
    <div class="row">
    <h2>All Polls</h2>
    
    <div class="col-lg-6 col-sm-12">
      <% if (polls.length==0){%>
        <div class="card px-5 py-3 text-center">
          <h5>No polls</h5>
        </div>
        <% } else {%>
          <% for (let poll of polls){%>
                <%- include('../partials/pollCard', {poll:poll}) %>
          <% }%>
        <% }%>
    </div>
  </div>
</div>